header {
  background-color: #141d2f;
  z-index: 10;
  position: absolute;
  height: 70px;
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0px 10px;
  align-items: center;
  color: white;
  top: 0;
}

.logo {
  height: 60px;
}

.menu {
  height: 20px;
  width: auto;
}
