header {
  background-color: #141d2f;
  z-index: 10;
  position: absolute;
  height: 70px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  top: 0;
}

.logo {
  height: 60px;
}

.menu {
  height: 20px;
  width: auto;
}
