<div class="footerSection">
  <div class="footerContent">
    <a href="#home"><img class="logo" src="../../assets/icons/logo.png" alt="logo Florian" /></a>
    <span>© 2023 Florian Isenberg</span>
    <div class="social">
      <img
        src="../../assets/icons/github m.png"
        alt=""
        (click)="openNewWindow('https://github.com/FlorianIsenberg')"
      />
      <a [href]="emailstring"><img src="../../assets/icons/mail m.png"></a>
      <img
        src="../../assets/icons/linkedin m.png"
        alt=""
        (click)="openNewWindow('https://www.linkedin.com/in/florian-isenberg/')">
    </div>
  </div>
  <div class="legalNoticeLinks">
    <a class="imprintLink hover-underline-animation" routerLink="imprint"
      >Imprint</a
    >
    |
    <a class="privacyLink hover-underline-animation" routerLink="privacy"
      >Privacy</a
    >
  </div>
</div>
