<div class="aboutMeSection" id="aboutMe">
  <div class="aboutMeShadowBg">
    <img src="../../assets/icons/waveNew.png" alt="" />
  </div>
  <div class="shadowPic">
    <div class="aboutMeShadow">
      <img src="../../assets/icons/Group 2.png" alt="" />
    </div>
    <div class="aboutMeImg">
      <img src="../../assets/img/imgMe1.png" alt="foto" />
    </div>
  </div>

  <div class="aboutMeHeadline" data-aos="fade-right">
    <h2>About me</h2>
    <p data-aos="fade-right">
      Ich bin Web Developer, mit Erfahrungen in der Entwicklung von
      anspruchsvollen Webanwendungen sowie Business Applikationen mit JavaScript
      und Angular. Gerne lade ich Sie dazu ein, mein Portfolio zu besuchen, um
      einen detaillierten Einblick in meine Arbeit zu erhalten.
    </p>

    <div class="aboutMeKnow">
      <div class="lightbulb" data-aos="fade-right">
        <img src="../../assets/icons/lightbulbGreenM.png" alt="" />
        <div class="knowToMe">
          <p>
            Meine Leidenschaft für die IT begann mit der Erstellung einer
            Webseite für meine Internetpräsenz als DJ. Seitdem habe ich eine
            professionelle Ausbildung absolviert und mich kontinuierlich in
            verschiedenen Projekten weiterentwickelt.
          </p>
        </div>
      </div>
      <div class="puzzel" data-aos="fade-right">
        <img src="../../assets/icons/puzzleBlueM.png" alt="" />
        <div class="mySkills">
          <p>
            Some personal thing to share(...) Donec ut imperdiet diam, et
            convallis neque. Class aptent taciti sociosqu ad litora torquent per
            conubia nostra, per inceptos himenaeos.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
