<div class="aboutMeSection" id="aboutMe">
  <div class="aboutMeShadowBg">
    <img src="../../assets/icons/waveNew.png" alt="" />
  </div>
  <div class="shadowPic">
    <div class="aboutMeShadow">
      <img src="../../assets/icons/Group 2.png" alt="" />
    </div>
    <div class="aboutMeImg">
      <img src="../../assets/img/Bild1.png" alt="foto" />
    </div>
  </div>

  <div class="aboutMeHeadline">
    <h2>About me</h2>
    <p>
      Ich bin Web Developer, mit Erfahrungen in der Entwicklung von
      anspruchsvollen Webanwendungen sowie Business Applikationen mit JavaScript
      und Angular. Gerne lade ich Sie dazu ein, mein Portfolio zu besuchen, um
      einen detaillierten Einblick in meine Arbeit zu erhalten.
    </p>

    <div class="aboutMeKnow">
      <div class="lightbulb">
        <img src="../../assets/icons/lightbulbGreenM.png" alt="" />
        <div class="knowToMe">
          <p>
            Some personal thing to share(...) Donec ut imperdiet diam, et
            convallis neque. Class aptent taciti sociosqu ad litora torquent per
            conubia nostra, per inceptos himenaeos.
          </p>
        </div>
      </div>
      <div class="puzzel">
        <img src="../../assets/icons/puzzleBlueM.png" alt="" />
        <div class="mySkills">
          <p>
            Some personal thing to share(...) Donec ut imperdiet diam, et
            convallis neque. Class aptent taciti sociosqu ad litora torquent per
            conubia nostra, per inceptos himenaeos.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
