<div class="contactSection" id="contact">
  <div class="headlineSection">
    <h2>Contact</h2>
    <img class="blueBar" src="../../assets/icons/blueBar.png" alt="blueBar" />
  </div>
  <div class="contactContent">
    <div>
      <div class="secHeadSection">
        <img src="../../assets/icons/greenBar.png" alt="greenBar" />
        <h3>Kann ich für Sie ein Problem lösen?</h3>
      </div>

      <div class="textSection">
        <div>
          <p>
            Bitte nutzen Sie das Kontaktformular, um mit mir in Verbindung zu
            treten. Ich bin sehr daran interessiert, von Ihnen zu hören, Ihre
            Ideen kennenzulernen und meinen Beitrag zu Ihren Projekten zu
            leisten. Ich stehe Ihnen gerne zur Verfügung und freue mich auf Ihre
            Kontaktaufnahme.
          </p>
        </div>
        <div>
          <p>Brauchen Sie einen Frontend-Entwickler? Kontaktieren Sie mich!</p>
        </div>
      </div>
    </div>
    <div class="contactArea">
      <form
        [formGroup]="myForm"
        (ngSubmit)="onSubmit(formContact)"
        #formContact="ngForm"
        data-aos="zoom-in"
        data-aos-duration="1000"
      >
        <div class="relative">
          <input
            formControlName="name"
            type="text"
            placeholder="Your name"
            required
            id="nameInput"
          />
          <ng-container
            *ngIf="myForm.get('name')?.invalid && myForm.get('name')?.touched"
          >
            <img class="inputError" src="assets/icons/invalid.svg" alt="" />
          </ng-container>
          <ng-container *ngIf="myForm.get('name')?.valid">
            <img class="inputError" src="assets/icons/valid.svg" alt="" />
          </ng-container>
          <ng-container *ngIf="myForm.get('name')?.invalid && isSubmitted">
            <p class="error">Your name is required!</p>
          </ng-container>
        </div>
        <div class="relative">
          <input
            formControlName="email"
            type="email"
            placeholder="Your email"
            required
            id="emailInput"
          />
          <ng-container
            *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched"
          >
            <img class="inputError" src="assets/icons/invalid.svg" alt="" />
          </ng-container>
          <ng-container *ngIf="myForm.get('email')?.valid">
            <img class="inputError" src="assets/icons/valid.svg" alt="" />
          </ng-container>
          <ng-container *ngIf="myForm.get('email')?.invalid && isSubmitted">
            <p class="error">Your name is required!</p>
          </ng-container>
        </div>

        <div class="relative">
          <textarea
            formControlName="message"
            rows="10"
            type="text"
            placeholder="Your message"
            required
            id="messageInput"
          ></textarea>
          <ng-container
            *ngIf="
              myForm.get('message')?.invalid && myForm.get('message')?.touched
            "
          >
            <img class="inputError" src="assets/icons/invalid.svg" alt="" />
          </ng-container>
          <ng-container *ngIf="myForm.get('message')?.valid">
            <img class="inputError" src="assets/icons/valid.svg" alt="" />
          </ng-container>
          <ng-container *ngIf="myForm.get('message')?.invalid && isSubmitted">
            <p class="error">Your name is required!</p>
          </ng-container>
        </div>
        <button>Send message</button>
      </form>
    </div>
  </div>
  <div><img src="" alt="" /></div>
</div>
