.portfolioSection {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  color: var(--white);
  padding: 0 25px;
  position: relative;

  .headlinePortfolio {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    align-items: center;
    gap: 5px;
    h2 {
      font-size: 45px;
    }
    img {
      height: 4px;
      width: 20px;
    }
  }

  .portfolioContent {
    box-sizing: border-box;

    .portfolioText {
      padding-top: 105px;
    }

    .portfolioShadow {
      z-index: -1;
      position: absolute;
      right: -440px;

      img {
        overflow: hidden;
        justify-content: center;
        display: flex;
      }
    }
    .portfolioIcons {
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 80px;
      img {
        height: 255px;
        width: 445px;
      }

      .portfolioProject {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .projectContent {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          text-align: center;
          gap: 10px;

          // .projectName {
          // }
          // .projectTech {
          // }
          // .projectDesc {
          // }
          .btnSection {
            display: flex;
            gap: 30px;
          }
          .btnTest {
            width: 152px;
            height: 58px;
            background: var(--blue);
            border-radius: 10px;
            border: none;
            color: var(--white);
          }
          .btnGit {
            width: 137px;
            height: 58px;
            border: 1px solid var(--lightblue);
            border-radius: 10px;
            color: var(--white);
            background: transparent;
          }
        }
      }
    }
  }
}

@media (min-width: 999px) {
  .portfolioSection {
    // padding: var(--padding) !important;
    padding: var(--padding) !important;
    justify-content: space-around !important;

    .headlinePortfolio {
      top: 0;
    }
    .portfolioIcons {
      display: inline !important;

      // img {
      //   width: 600px !important;
      // }
    }

    .portfolioProject {
      display: flex !important;
      justify-content: center !important;
      // padding: 0 150px !important;
      flex-direction: unset !important;
      width: 100%;
      padding: 80px 0 !important;
      gap: 50px;
      .projectContent {
        // width: 100%;
      }
    }

    .portfolioProject:nth-child(even) {
      flex-direction: row-reverse !important;
    }
  }
}

// @media (min-width:1300px){}

@media (min-width: 1400px) {
  .projectDesc {
    max-width: 300px;
  }
}
