.portfolioSection {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  color: white;
  padding: 0 20px 0 20px;
  position: relative;

  .headlinePortfolio {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    font-size: 45px;

    img {
      height: 4px;
      width: 20px;
    }
  }

  .portfolioContent {
    box-sizing: border-box;

    .portfolioShadow {
      z-index: -1;
      position: absolute;
      right: -440px;

      img {
        overflow: hidden;
        justify-content: center;
        display: flex;
      }
    }
    .portfolioIcons {
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 100%;
      }

      .projectContent {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        .projectName {
        }
        .projectTech {
        }
        .btnSection {
          display: flex;
          gap: 30px;
        }
        .btnTest {
          width: 152px;
          height: 58px;
          background: #4b47ff;
          border-radius: 10px;
          border: none;
          color: white;
        }
        .btnGit {
          width: 137px;
          height: 58px;
          border: 1px solid #00bee8;
          border-radius: 10px;
          color: white;
          background: transparent;
        }
      }
    }
  }
}
