<div class="portfolioSection" id="portfolio">
  <div class="headlinePortfolio">
    <img src="../../assets/icons/blueBar.png" alt="purpleBar" />
    <h2>Portfolio</h2>
  </div>
  <div class="portfolioContent">
    <div class="portfolioText">
      <p>
        This page is a sample of my work - please feel free to try them out.
      </p>
    </div>
    <div class="portfolioShadow">
      <img src="../../assets/icons/Purple shadow-3.png" alt="greenShadow" />
    </div>
    <div class="portfolioIcons">
      <div
        *ngFor="let project of projects; let i = index"
        class="portfolioProject"
      >
        <img
          src="../../assets/img/portfolioImg/{{ project.img }}"
          alt=""
          data-aos="fade-up"
          data-aos-anchor-placement="bottom-bottom"
          data-aos-duration="1000"
        />
        <div
          class="projectContent"
          data-aos="fade-down"
          data-aos-anchor-placement="bottom-bottom"
          data-aos-duration="1000"
        >
          <div class="projectName">{{ project.name }}</div>
          <div class="projectTech">{{ project.tech }}</div>
          <div class="projectDesc">{{ project.description }}</div>
          <div class="btnSection">
            <button class="btnTest" (click)="openNewWindow(project.link)">
              Live test
            </button>
            <button class="btnGit" (click)="openNewWindow(project.git)">
              GitHub
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
