<div class="currentContent" id="home">
  <div class="contentBox">
    <div class="purpelShadowLeft">
      <img src="../../assets/icons/Purple shadow-1.png" alt="leftImg" />
    </div>
    <div class="showMe">
      <div class="iAm">
        <div class="myName"><p>Florian Isenberg</p></div>
        <div class="job"><p>FRONTEND DEVELOPER</p></div>
      </div>
      <button class="letsTalk">Let's talk</button>
    </div>
    <div class="greenShadowRight">
      <img src="../../assets/icons/Purple shadow-2.png" alt="" />
    </div>
    <div class="social">
      <div class="blueBar">
        <img src="../../assets/icons/blueBar.png" alt="" />
      </div>
      <div class="socialBar">
        <img src="../../assets/icons/github m.png" alt="" />
        <img src="../../assets/icons/mail m.png" alt="" />
        <img src="../../assets/icons/linkedin m.png" alt="" />
      </div>
    </div>
  </div>
</div>
